<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <!-- 二维码 -->
            <div class="col-4 qrcode">
                <img src="https://gss3.bdstatic.com/7Po3dSag_xI4khGkpoWK1HF6hhy/baike/crop%3D0%2C0%2C2000%2C1320%3Bc0%3Dbaike272%2C5%2C5%2C272%2C90/sign=bab51f7200f41bd5ce1cb2b46ceaadfb/ca1349540923dd5491e55f31df09b3de9d8248d1.jpg"
                     class="img-thumbnail" style="width:172px;height:136px" />
            </div>
            <!-- 公司信息 -->
            <div class="col-8 detail-info">
                <div class="row">
                    <div class="col">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">关于我们</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">加入我们</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">意见反馈</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">企业服务</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">联系我们</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">免责声明</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">友情链接</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="nav btn-group-vertical company-info">
                            <li class="nav-item text-white-50">
                                公司地址：广州市海珠区
                            </li>
                            <li class="nav-item text-white-50">
                                联系方式：000-1234567(电话)&nbsp;&nbsp;&nbsp;&nbsp;1251994554@qq.com
                            </li>
                            <li class="nav-item text-white-50">
                                xxx©2018 All rights reserved
                            </li>
                            <li class="nav-item text-white-50">
                                粤ICP备19101185号-1 &nbsp;&nbsp;&nbsp;&nbsp;
                                <!--<img src="http://static.nowcoder.com/company/images/res/ghs.png" style="width:18px;" />-->
                                <!--京公网安备 11010502036488号-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

