<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>404 Not Found  404 - Who turned off the light?</title>
  <link rel="stylesheet" th:href="@{/css/style_404.css}">
  <link rel="icon" th:href="@{/img/icon.png}"/>
</head>
<body>
<!-- partial:index.partial.html -->
<link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet"> 
<div id="heading-container">
  <h1 id="heading" class="center-text">404 NOT FOUND</h1>
</div>
<div id="eye-container">
  <div class="eyes" id="left-eye">
    <div class="pupils" id="left-pupil"></div>
  </div>
  <div class="eyes" id="right-eye">
    <div class="pupils" id="right-pupil"></div>
  </div>
</div>
<div id="error-container" class="center-text">
  <h2 id="error" >没有你要找的页面哦</h2>
  <p></p>
</div>
<!-- partial -->
  
</body>
</html>